
<div>
    <navbar
            ng-init="navbar.navLeftIco='ion-ios-arrow-back'; navbar.navLeft='返回'; navbar.title='认证企业' ;navbar.navRightHref='tab.';navbar.navRight=''">
    </navbar>
    <ion-content>

    <div class="transitions-content">
       

        <div class="container gap-45">
            <div class="row-bootstrap nav-pc-frameline">
                <div class="col-sm-3 col-md-3">
                  
                    <navpc ng-init="me='active'"></navpc>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="row-bootstrap">
                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                          <div class="btn-group">
                              <a>
                                  <button type="button" class="btn btn-navbar2">已认证</button>
                              </a>
                          </div>
                          <div class="btn-group">
                              <a>
                                  <button type="button" class="btn btn-navbar2 active">未认证</button>
                              </a>
                          </div>
                        </div>
                    </div> 
                    
                    <div class="row-bootstrap bg-white gap-15">
                        <div class="list-group">
                            <li class="list-group-item list-group-item-no-border">                               
                               <h4 class="pull-left">
                                 <img src="/img/ebank/e-logo-1.png" /> 
                                 &nbsp;亚鑫集团
                                 <label class="label-v"><strong title="已认证企业">v</strong></label>
                               </h4> 
                               <button class="btn btn-partner btn-partner-yellow pull-right gap-15">同意认证</button>
                            </li>
                            <div class="clearfix"></div>
                            <li class="list-group-item list-group-item-border-top">                               
                               <h4 class="pull-left">
                                 <img src="/img/ebank/e-logo-2.png" /> 
                                 &nbsp;东星能源
                                 <label class="label-v"><strong title="已认证企业">v</strong></label>
                              </h4> 
                               <button class="btn btn-partner btn-partner-yellow pull-right gap-15">同意认证</button>
                            </li>
                            <div class="clearfix"></div>
                            <li class="list-group-item list-group-item-border-top">                               
                               <h4 class="pull-left">
                                 <img src="/img/ebank/e-logo-3.png" /> 
                                 &nbsp;亚强在线能源 <label class="label-v"><strong title="已认证企业">v</strong></label>
                               </h4> 
                               <button class="btn btn-partner btn-partner-yellow pull-right gap-15">同意认证</button>
                               <div class="clearfix"></div>                              
                            </li>
                            <div class="clearfix"></div>
                            <li class="list-group-item list-group-item-border-top">                               
                               <h4 class="pull-left">
                                 <img src="/img/ebank/e-logo-4.png" /> 
                                 &nbsp;晋城钢铁在线 
                                 <label class="label-v"><strong title="已认证企业">v</strong></label>
                             </h4> 
                               <button class="btn btn-partner btn-partner-yellow pull-right gap-15">同意认证</button>
                            </li>
                        </div>
                    </div>




                    <div class="row-bootstrap bg-white gap-10">
                    </div>


                </div>
            </div>

            <div class="col-sm-3 col-md-3"></div>
 </div>

        
        <footer></footer>
       
       
    </div>
   


</ion-content></div>
    