<div name="inforSysterm">

 <navbar ng-init="navbar.navLeft='返回'; navbar.navLeftIco='ion-ios-arrow-back'; navbar.title='交易信息';"></navbar>
    <ion-content>
    <link rel="stylesheet" type="text/css" href="./css/me.css">


    <div class="transitions-content">
        

        <div class="container gap-45">
            <div class="row-bootstrap nav-pc-frameline">
                <div class="col-sm-3 col-md-3">
                    
                    <navpc ng-init="me='active'"></navpc>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-6">
                   
                    <div class="row-bootstrap gap-20 text-center">                        
                        <label class="label-infor-time">6月8日 下午14:32</label>
                    </div>
                    
                    <div class="infor-box infor-box-white col-xs-12">
                        <h4><strong>通过平台企业认证</strong></h4>
                        <h5>恭喜！您的企业已经通过审核，从今日起成为我平台认证企业，快快点击下面链接，邀请您公司的老板、采购经理、销售经理、生产经理等伙伴来新家报到吧！</h5>
                    </div>

                     <div class="infor-box infor-box-white col-xs-12">
                        <h4><strong>发布会申请通过</strong></h4>
                        <h5>平台已通过您的线上发布会申请，快快点击下面链接，邀请您平台以外的合作伙伴来参加吧！
                            <a href="" class="text-red">http://open.rsc365.com/1234756</a>
                        </h5>
                    </div>

                    <div class="infor-box infor-box-red col-xs-12">
                        <h4>信用额度偿还提示</h4>
                        <h5>交易员王光临正在为订单号：201505231130-123456的采购单已还清信用额度，<a href="" class="underline text-white"> 请查看详情> </a></h5>
                    </div> 
                    <!-- 系统通知，信用额度审批 -->
                    <!-- <div class="infor-box infor-box-red col-xs-12">
                        <h4>信用额度申请审批</h4>
                        <h5>交易员王光临正在为订单号：201505231130-123456的采购单申请信用额度。</h5>
                    </div> -->

                    <!-- 系统通知，信用还款 -->
                    <!-- <div class="infor-box infor-box-red col-xs-12">
                        <h4>信用额度偿还提示</h4>
                        <h5>交易员王光临正在为订单号：201505231130-123456的采购单已还清信用额度，<a href="" class="underline text-white"> 请查看详情> </a></h5>
                    </div> -->


                    <!-- <div class="clearfix"></div>
                    <div class="row-bootstrap gap-20 text-center">                        
                        <label class="label-infor-time">6月8日 下午14:32</label>
                    </div>
                    
                    <div class="infor-box infor-box-white col-xs-12">
                        <h4><strong>通过平台企业认证</strong></h4>
                        <h5>恭喜！您的企业已经通过审核，从今日起成为我平台认证企业，快快点击下面链接，邀请您公司的老板、采购经理、销售经理、生产经理等伙伴来新家报到吧！</h5>
                    </div>

                     <div class="infor-box infor-box-white col-xs-12">
                        <h4><strong>发布会申请通过</strong></h4>
                        <h5>平台已通过您的线上发布会申请，快快点击下面链接，邀请您平台以外的合作伙伴来参加吧！
                            <a href="" class="text-red">http://open.rsc365.com/1234756</a>
                        </h5>
                    </div>

                    <div class="clearfix"></div>
                    <div class="row-bootstrap gap-20 text-center">                        
                        <label class="label-infor-time">6月8日 下午14:32</label>
                    </div>                    
                
                    <div class="infor-box infor-box-white col-xs-12">
                        <h4><strong>获得优质合作伙伴</strong></h4>
                        <h5>恭喜您被**公司授予“最佳**”称号，快快点击下面链接，把这个喜讯分享给您的合作伙伴儿们吧！
                            <a href="" class="text-red">http://i.rsc365.com/partner/554451</a>
                        </h5>
                    </div>

                    <div class="clearfix"></div>
                    <div class="row-bootstrap gap-20 text-center">                        
                        <label class="label-infor-time">6月8日 下午14:32</label>
                    </div>                    
                
                    <div class="infor-box infor-box-white col-xs-12">
                        <h4><strong>系统提醒</strong></h4>
                        <h5>尊敬的客户您好，您发布的销售信息已经15日没有成交，系统建议您发起应付账款授信交易邀约。
                            <a href="" class="text-red">点击查看</a>
                        </h5>
                    </div> -->
                    
                    <!-- <div class="clearfix"></div>
                    <div class="btn-arr bg-white gap-20">
                        <div class="col-xs-6 gap-10 text-center">                           
                            <button type="button" class="btn bg-white text-purple2">
                                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                                客服电话
                            </button>                           
                        </div>
                        <div class="col-xs-6 gap-10">
                            <a href="">
                                <button type="button" class="btn bg-white text-purple2"> 帮助中心
                                </button>
                            </a>
                        </div>
                    </div> -->
                     
                   
                </div>
            </div>

            <div class="col-sm-3 col-md-3"></div>


        

   </div>       
        <footer></footer>
  
</div>
</ion-content>

</div>