<div ng-controller="tradeOrderCtrl">
    <navbar
            ng-init="navbar.navLeftIco='ion-ios-arrow-back'; navbar.navLeft='返回'; navbar.title='订单详情' ;navbar.navRightHref='tab.';navbar.navRight='';navbar.navLeftHref='tab.myOrderList';">
    </navbar>
    <ion-content>

    <div class="transitions-content">
        

        <div class="container gap-45">
            <div class="row-bootstrap nav-pc-frameline">
                <div class="col-sm-3 col-md-3">
                    <navpc ng-init="isorder='active'"></navpc>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9">
                    <div class="row-bootstrap bg-white gap-20 gap-row">
                        <div class="col-xs-12">
                            <div class="pull-left">
                                <h3><label class="label-supply-red">
                                <span ng-if="isCompany==order.company_demand_id">采购</span>
                                <span ng-if="isCompany!=order.company_demand_id">供应</span>
                                </label>&nbsp;{{order.category_chn}} </h3>
                                <h6 class="text-gray1">订单号：{{order.index}}</h6>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="bg-pink1 navbar4-fixed">
                            <div class=" btn-group btn-group-justified text-center" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                    <h6 class="text-red1">下订单</h6>
                                    <a>
                                       <button type="button" class="btn-navbar4" ng-class="order.step | stepCSS:1"><span>1</span></button>
                                    </a>
                                </div>

                                <div class="btn-group" role="group">
                                    <h6 class="text-red1">预付款</h6>
                                       <button type="button" class=" btn-navbar4" ng-class="order.step | stepCSS:2"><span>2</span></button>
                                </div>

                                <div class="btn-group" role="group">
                                    <h6 class="text-red1">物流</h6>
                                       <button type="button" class=" btn-navbar4" ng-class="order.step | stepCSS:3"><span>3</span></button>
                                </div>

                                <div class="btn-group" role="group">
                                    <h6 class="text-red">检验</h6>
                                       <button type="button" class=" btn-navbar4" ng-class="order.step | stepCSS:4"><span>4</span></button>
                                </div>

                                <div class="btn-group" role="group">
                                    <h6 class="text-red1">交割</h6>
                                       <button type="button" class=" btn-navbar4" ng-class="order.step | stepCSS:5"><span>5</span></button>
                                </div>                    
                            </div>
                            <span class="btn-navbar4-right-line"></span>  
                        </div>
                        <!--
                        <div class="col-xs-12 gap-10">
                            <company-label company-id="order.company_demand_id" type="trade"></company-label>
                            <div class="row-bootstrap bg-yellow3">
                                <my-attr-prod-info attr-product='order.att_product' attr-show='4' attr-category="order.category"></my-attr-prod-info>
                            </div>
                        </div> 
                        <div class="clearfix"></div>
                        <div class="list-group col-sm-6 col-md-6" ng-repeat="i in [1,]">
                            <li class="list-group-item list-condensed list-group-item-no-border">
                                <h5 class="text-black">
                                   抢单报价：
                                    <span class="pull-right"><strong class="text-red">￥{{order.price_unit | fmoney}}</strong> 元/吨</span>
                                </h5>
                            </li>
                            <li class="list-group-item list-condensed list-group-item-no-border">
                                <h5 class="text-black">
                                  采购数量：
                                    <span class="pull-right"> <strong>{{order.amount}}</strong> 吨</span>
                                </h5>
                            </li>
                        </div> 
                        <div class="list-group col-sm-6 col-md-6">
                            <rsc-address address-id="order.location_depart" address-name="提货地点"
                               address-icon="ion-ios-location-outline text-pink"
                               text-class="pull-right"></rsc-address>
                            <rsc-address address-id="order.location_arrival" address-name="交货地点"
                               address-icon="ion-ios-location-outline text-green1"
                               text-class="pull-right"></rsc-address>
                        </div>  
                        <div class="list-group col-sm-6 col-md-6" ng-repeat="i in [1,]">
                            <li class="list-group-item list-condensed list-group-item-no-border">
                                <h5 class="text-black">
                                    <span class="ion-android-alarm-clock" aria-hidden="true"></span>
                                    &nbsp;&nbsp;交货时间：
                                    <span class="pull-right">{{order.time_traffic|rsctime}}</span>
                                </h5>
                            </li>
                            <li class="list-group-item list-condensed list-group-item-no-border">
                                <h5 class="text-black">                            
                                    货物金额：
                                    <span class="pull-right"><strong>￥ {{(order.price_unit * order.amount)| fmoney}}</strong> 元</span>
                                </h5>
                            </li>
                        </div> 
                        <div class="list-group col-sm-6 col-md-6" ng-repeat="i in [1,]">
                            <li class="list-group-item list-condensed list-group-item-no-border">
                                <h5 class="text-black">                            
                                    货物付款方式：
                                    <span class="pull-right">{{order.payment_advance}}% 预付款，{{order.choice_advanced_payment | choicePayment}}</span>
                                </h5>
                            </li>
                        </div>
                        <div class="clearfix"></div>   
                        <div class="list-group">
                            <li class="list-group-item list-group-item-no-border list-condensed">
                                <h6 class="pull-left">
                                    <img ng-if="!userInfo.photo_url" class="img-circle face5" src="./img/me/face_13_13.png">
                                    <img ng-if="userInfo.photo_url" class="img-circle face5" ng-src="{{userInfo.photo_url}}">
                                    {{userInfo.real_name}} <label class="label-role-purple1 text-white">{{userInfo.role |rolefilter}}</label></h6>
                                <h4 class="pull-right text-purple2 gap-5">
                                    <a href={{pathFor "chat"}} data-transition-out="slideLeftOut"   data-transition-in="slideLeftIn"><span>
                                    <a href="tel:{{userInfo.phone}}" class="text-purple2"><span class="glyphicon glyphicon-earphone"></span></a>
                                </h4>
                                
                            </li>
                        </div>
                        <div class="clearfix"></div>     
                        -->

                    </div>
                    <!-- 注释 start 
                    <div class="row-bootstrap bg-white">
                        <h5 class="text-center"><strong>付款方式<br />settle accounts</strong></h5>
                        <div class="bg-white">
                            <div class="list-group col-sm-6 col-md-6" ng-repeat="i in [1,]">
                                <li class="list-group-item list-condensed list-group-item-no-border">
                                    <h5 class="text-black">
                                       总金额：
                                        <span class="pull-right text-red"><strong>￥ {{ (order.price_unit * order.amount) | fmoney}} </strong> 元</span>
                                    </h5>
                                </li>
                            </div>
                            <div class="list-group col-sm-6 col-md-6" ng-repeat="i in [1,]">
                                <li class="list-group-item list-condensed list-group-item-no-border">
                                    <h5 class="text-black">
                                       预付：
                                        <span class="pull-right text-red"><strong>￥ {{order.price_advance|fmoney}}  </strong> 元</span>
                                    </h5>
                                </li>
                            </div>
                            
                            <div class="col-xs-12">
                                <blockquote class="rules-pink text-red">
                                    <h6>货物结算细则：
                                    <small class="text-gray1">以采购方的结果为准</small></h6>
                                    <att-product data="order.att_product" attr-category="order.category"></att-product>
                                </blockquote>
                            </div>
                            <div class="col-xs-12">
                                <blockquote class="rules-pink text-red">
                                    <h6>物流结算细则：
                                    </h6>
                                    <att-traffic data="order.att_traffic"></att-traffic>
                                </blockquote>
                            </div>
                           
                            <div ng-if=" isCompany==order.company_demand_id " class="col-xs-12">
                                <div class="col-sm-3 minHeight"></div>
                                <a ng-href="" class="col-sm-6 col-xs-12" ng-click="pushorder()">
                                    <button class="btn btn-block btn-yellow md-trigger md-setperspective" data-modal="modal-3">
                                        下订单
                                    </button>
                                    <div class="gap-20"></div>
                                </a>
                                <div class="col-sm-3"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div ng-if="isCompany!=order.company_demand_id">
                                <div class="divider-red-white gap-5">
                                    <h6 class="pull-left bg-white"><label class="label-role-red">第一步</label><br></h6>                            
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-xs-1 minHeight"></div>
                                <a class="col-xs-10 list-border-red" ng-href="#/tab/tradeOrder-1/{{id}}">
                                    <i class="pull-right ion-ios-arrow-right text-black1"></i>
                                    <img src="./img/158/icon1.jpg" class="pull-left">
                                    <div class="pull-left">
                                    <h4>发布物流需求信息</h4>
                                    <h6 class="text-red gap-5">*发布物流信息后请务必填写物流单号</h6>
                                    </div>
                                    <div class="clearfix"></div>
                                    
                                </a>
                                <div class="col-xs-1"></div>
                                <div class="clearfix"></div>
                                <div class="divider-red-white gap-20">
                                    <h6 class="pull-left bg-white"><label class="label-role-red">第二步</label><br></h6>                            
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-xs-1 minHeight"></div>
                                <a class="col-xs-10 list-border-red" ng-href="#/tab/tradeOrder-2/{{id}}">
                                    <i class="pull-right ion-ios-arrow-right text-black1"></i>
                                    <img src="./img/158/icon2.jpg" class="pull-left">
                                    <div class="pull-left">
                                     <h4>输入关联物流单号</h4>
                                     <h6 class="text-red gap-5">*确认发布物流信息后填写物流单号哟~</h6>
                                    </div>                             
                                    <div class="clearfix"></div>
                                </a>
                                <div class="col-xs-1"></div>
                                <div class="clearfix"></div>
                                <div class="gap-20"></div>
                            </div> 
                        </div>
                    </div>
                     注释end -->
                     <!-- 物流信息 -->
                    <trade-order-pass ng-if="order.step>=3 && order.step<4 && order.traffic_orders.length>0" driveinfo="driveinfo" order="order" passinfo="passinfo"></trade-order-pass>
                    <!-- 商品物信息 -->
                    <trade-order-shop order='order' user-info='userInfo'></trade-order-shop>
                    <!-- 物流信息 -->
                    <trade-order-pass ng-if="order.step>=4 && order.traffic_orders.length>0" passinfo="passinfo" order="order"></trade-order-pass>
                    <trade-order-pact ng-if="order.step>=4" order="order"></trade-order-pact>

                    <!-- 支付信息 -->
                    <trade-order-payment ng-if="order.step<3 || order.step>4" order="order" is-company="isCompany"></trade-order-payment>
                    <!-- 协议信息 -->
                    <trade-order-pact ng-if="order.step<3" order="order"></trade-order-pact>
                    <!-- 步骤 -->
                    <trade-order-step order="order" is-company="isCompany" demand-step="demandStep" supply-step='supplyStep'></trade-order-step>
                </div>
        
            </div>
        </div>
        <footer></footer>
    </div>
    </ion-content>
</div>
