<div>
    <navbar ng-init="navbar.title='修改路线信息';navbar.navLeftHref='/tab.myRsc#/tab/my_routes';navbar.navLeft='<<返回'"></navbar>
    <ion-content>
        <div class="transitions-content">
            <div class="container gap-45">
                <div class="row-bootstrap nav-pc-frameline">
                    <div class="col-sm-3 col-md-3">
                        <navpc ng-init="trade='active'"></navpc>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9">
                        <h1>修改当前路径</h1>
                    </div>
                </div>
         </div> 
        <footer></footer>
          
        </div>
    </ion-content>
</div>
    