<div>
    <navbar ng-init="navbar.title='车辆信息';navbar.navLeftHref='/tab.myRsc#/tab/myRsc';navbar.navLeft='<<返回' ;navbar.navRightHref='tab.';navbar.navRight='+添加车辆'"></navbar>
    <ion-content>
        <div class="transitions-content">
            <div class="container gap-45">
                <div class="row-bootstrap nav-pc-frameline">
                    <div class="col-sm-3 col-md-3">
                        <navpc ng-init="trade='active'"></navpc>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9">
                        <h1>我的车辆信息</h1>
                    </div>
                </div>
            </div>
        
        <footer></footer>
        </div>
    </ion-content>
</div>
    