<div>
    <navbar
            ng-init="navbar.navLeft='返回'; navbar.title='添加车辆' ;navbar.navRightHref='tab.';navbar.navRight=''">
    </navbar>
    <ion-content>

        <div class="transitions-content" ng-controller="passRoadLineCtrl">

            <div class="container gap-45">
                <div class="row-bootstrap nav-pc-frameline">
                    <div class="col-sm-3 col-md-3">
                        <navpc ng-init="pass='active'"></navpc>
                    </div>


                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row-bootstrap gap-20">
                            <div class="list-group bg-white">
                                <li class="list-group-item list-group-item-border-top">                                    
                                    <h5>
                                        车辆类型
                                        <span class="pull-right text-gray2">
                                            请选择车辆类型
                                            <span class="ion-chevron-right text-gray2"></span> 
                                        </span>
                                    </h5>                                           
                                </li> 
                                <li class="list-group-item list-group-item-border-top">                                    
                                    <h5>
                                        车牌号码
                                        <span class="pull-right text-gray2">
                                        如：京Q1321
                                            <span class="ion-chevron-right text-gray2"></span> 
                                        </span>
                                    </h5>                                           
                                </li>  
                                <a href="" class="list-item-border"></a>                               
                            </div>
                            <h6 class="col-xs-12 text-gray1">请填写司机信息</h6>
                            <div class="clearfix"></div>
                            <div class="list-group bg-white">
                                <li class="list-group-item list-group-item-border-top">                                    
                                    <h5>
                                        默认司机
                                        <span class="pull-right text-gray2">
                                        请选择或输入司机名称 <span class="ion-ios-person text-black"></span>                                            
                                        </span>
                                    </h5>                                           
                                </li> 
                                <a href="" class="list-item-border"></a>
                            </div>
                            <h6 class="col-xs-12 text-gray1">请填写车辆信息（选填）</h6>
                            <div class="clearfix"></div>
                            <div class="list-group bg-white">
                                <li class="list-group-item list-group-item-border-top">                                    
                                    <h5>
                                        可载重货
                                        <span class="pull-right text-gray2">
                                        请选择可载吨数
                                            <span class="ion-chevron-right"></span> 
                                        </span>
                                    </h5>                                           
                                </li> 
                                <li class="list-group-item list-group-item-border-top">                                    
                                    <h5>
                                        车辆长度
                                        <span class="pull-right text-gray2">
                                        请选择车辆长度
                                            <span class="ion-chevron-right"></span> 
                                        </span>
                                    </h5>                                           
                                </li> 
                                <li class="list-group-item list-group-item-border-top">                                    
                                    <h5>
                                        车辆照片
                                        <span class="pull-right text-yellow2">
                                        请上传车辆正面照片
                                            <span class="ion-chevron-right text-gray2"></span> 
                                        </span>
                                    </h5>                                           
                                </li> 
                                <a href="" class="list-item-border"></a>                                
                            </div>
                            <div class="bg-white text-center">
                                <div class="clearfix"></div>
                                <div class="gap-20"></div>
                                <a href="" class="text-yellow2 underline">车辆照片</a>
                                <div class="clearfix gap-20"></div>
                                <img src="./img/pass/big-car.jpg">
                                <div class="clearfix"></div>
                                <div class="col-sm-3 minHeight"></div>
                                <div class="col-sm-6 col-xs-12 text-center gap-30">
                                    <a href="">
                                        <button type="button" class="btn btn-yellow btn-lg btn-block text-yellow3 btn-noBorder">
                                            保存
                                        </button>
                                    </a>
                                    <div class="gap-20"></div>
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="clearfix"></div>

                            </div>
                        </div>
                     
                       


<!-- 弹出层 -->
<div class="row-bootstrap gap-20 text-center">
    <div class="list-group bg-white">
        <li class="list-group-item list-group-item-no-border">                                    
            <h5>
                <a href="">拍照</a>
            </h5>                                           
        </li> 
        <li class="list-group-item list-group-item-border-top">                                    
            <h5>
                <a href="">从手机相册选择</a>
            </h5>                                           
        </li>        
    </div>
    <div class="list-group bg-white gap-5">
        <li class="list-group-item list-group-item-no-border">                                    
            <h5>
                <a href="">取消</a>
            </h5>                                           
        </li> 
    </div>
</div>






















                    </div>
                </div>

</div>
                <footer></footer>
            


        </div>
    </ion-content>
</div>



