<div>
    <navbar
            ng-init="navbar.navLeftIco=''; navbar.navLeft=''; navbar.title='我' ;navbar.navRightHref='tab.';navbar.navRight=''">
    </navbar>
    <ion-content>
 
    <div class="transitions-content">

        <div class="container gap-45">
            <div class="row-bootstrap nav-pc-frameline">
                <div class="col-sm-3 col-md-3">
                    <navpc ng-init="pass='active'"></navpc>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-6">
                     <div class="row-bootstrap gap-15 bg-white">
                        <div class="list">
                            <a class="item item-avatar item-icon-right" href="#/tab/mySet">
                              <img class="img-circle face3" src="./img/me/face_1.png">
                              <h2>
                                安景圣
                                <label class="label-role-purple text-white">销售副总裁</label>
                                
                              </h2>
                              <p>手机：13676886689</p>
                              <i class="icon ion-ios-arrow-right"></i>
                            </a>
                        </div>                        
                    </div>

                    <div class="row-bootstrap gap-20">
                        <div class="list bg-white">
                            <a class="item item-icon-left item-icon-right" href="#tab/inforSysterm">
                                <i class="icon ion-android-notifications-none text-gray1"></i>
                                系统通知 (8)                                
                                <i class="icon ion-ios-arrow-right text-gray1"></i>  
                            </a>
                            <a class="item item-icon-left item-icon-right" href="#tab/companyProHome">
                                <i class="icon ion-android-home text-blue"></i>
                                亚鑫集团 <a title="企业已认证"><label class="label-v"><strong>v</strong></label></a>
                                <span class="item-note">
                                    企业主页
                                </span>                              
                                <i class="icon ion-ios-arrow-right text-gray1"></i>  
                            </a> 
                        </div>
                    </div>
                    <!-- 
                    <div class="row-bootstrap bg-white gap-20">
                        <a href="#tab/inforSysterm" data-transition-out="slideLeftOut" data-transition-in="slideLeftIn">
                            <div class="list-group">
                                <li class="list-group-item list-group-item-no-border">
                                    <h5 class="text-black">
                                        <span class="glyphicon glyphicon-bell text-black bg-yellow img-circle"></span>&nbsp;&nbsp;系统通知 (8)
                                        <span class="pull-right glyphicon glyphicon-menu-right text-gray1 gap-5" aria-hidden="true"></span>
                                    </h5>
                                </li>
                            </div>
                        </a>    
                        <a href="" class="list-item-border"></a>
                        <a href="#tab/companyProHome" data-transition-out="slideLeftOut" data-transition-in="slideLeftIn">
                            <div class="list-group">
                                <li class="list-group-item list-group-item-no-border">
                                    <h5 class="text-black">
                                        <span class="glyphicon glyphicon-home text-white bg-blue img-circle"></span>&nbsp;&nbsp;亚鑫集团 <label class="label-v"><strong>v</strong></label>
                                        <span class="pull-right text-gray1 gap-5">企业主页<span class="pull-right glyphicon glyphicon-menu-right text-gray1" aria-hidden="true"></span></span>
                                    </h5>
                                </li>
                            </div>
                        </a>      
                    </div> -->
                    
                    <div class="row-bootstrap bg-white gap-15">
                        <div class="list bg-white">
                            <a class="item item-icon-left item-icon-right" href="">
                                <i class="icon fa fa-truck text-pink"></i>
                                我的车辆                                
                                <i class="icon ion-ios-arrow-right text-gray1"></i>  
                            </a>                            
                        </div>
                    </div>

                    <div class="row-bootstrap bg-white gap-15">
                        <div class="list bg-white">
                            <a class="item item-icon-left item-icon-right" href="#/tab/mySet">
                                <i class="icon ion-gear-a text-blue"></i>
                                个人设置                                
                                <i class="icon ion-ios-arrow-right text-gray1"></i>  
                            </a>                            
                        </div>
                    </div>
                    
                    <!-- <div class="row-bootstrap bg-white gap-15">
                        <a href="">
                        <div class="list-group">
                             <li class="list-group-item list-group-item-no-border">
                                <h5 class="text-black">
                                    <span class="fa fa-truck text-pink"></span>&nbsp;&nbsp;我的车辆 
                                    <span class="pull-right glyphicon glyphicon-menu-right text-gray1" aria-hidden="true"></span>
                                </h5>
                            </li>
                        </div>
                        </a>    
                    </div>

                    <div class="row-bootstrap bg-white gap-15">
                        <a href="">
                        <div class="list-group">
                             <li class="list-group-item list-group-item-no-border">
                                <h5 class="text-black">
                                    <span class="glyphicon glyphicon-cog text-blue"></span>&nbsp;&nbsp;个人设置 
                                    <span class="pull-right glyphicon glyphicon-menu-right text-gray1" aria-hidden="true"></span>
                                </h5>
                            </li>
                        </div>
                        </a>    
                    </div> -->





                </div>
            </div>

</div>
        <footer></footer>
        

       
    </div>
</ion-content>
</div>


