<div>
    <navbar
            ng-init="navbar.navLeftIco='ion-ios-arrow-back'; navbar.navLeft='返回'; navbar.title='司机管理' ;navbar.navRightHref='tab.';navbar.navRight='邀请新司机'">
    </navbar>
    <ion-content>
 
    <div class="transitions-content">

        <div class="container gap-45">
            <div class="row-bootstrap nav-pc-frameline">
                <div class="col-sm-3 col-md-3">
                    <navpc ng-init="pass='active'"></navpc>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="row-bootstrap gap-5">
                        <div class="col-xs-10">
                            <h4 class="input-search">
                              <i class="icon ion-search placeholder-icon pull-left"></i>
                              <input type="text" placeholder="按线路查找">
                            </h4>
                        </div>
                        <button class="button button-clear">搜索</button>
                    </div>
                    <div class="row-bootstrap gap-5 bg-white">
                        <a href="" class="list-item-border"></a>
                        <div class="list-group">
                            <li class="list-group-item list-condensed list-group-item-no-border">
                                <h5 class="text-brown1">                                    
                                    <img class="face6 img-fixed img-circle" src="./img/me/face-7.png">
                                    等待分配线路的司机(8)
                                    <span class="pull-right ion-chevron-right gap-15"></span>                       
                                </h5>
                            </li>
                        </div>
                        <div class="clearfix"></div>
                        <a href="" class="list-item-border"></a>                                                   
                    </div> 
                    <div class="row-bootstrap bg-gray2">
                        <div class="col-xs-12">
                            <h6 class="text-black">广东 佛山 -> 上海 宝山</h6>
                        </div>
                        <div class="clearfix"></div>
                        <a href="" class="list-item-border"></a>
                    </div>
                    <div class="row-bootstrap bg-white">
                        <div class="col-xs-12 gap-2 list">                               
                            <div class="row-bootstrap pull-left">                               
                                <a class="item item-avatar item-no-border">
                                  <img class="" src="./img/pass/passface-1.png">
                                  <h3 class="text-brown1">张旭 <label class="label-role-red text-white">运输中</label></h3>
                                  <p>已运输货物 <span class="text-pink">80</span> 单</p>
                                  <h6 class="text-gray2"><span class="fa fa-truck text-black"></span>&nbsp;&nbsp;大货车（载45吨、长15米、20米^3）<span class="text-purple2">1辆</span></h6>
                                  <h6 class="text-gray2">&nbsp;&nbsp;&nbsp;&nbsp; 中型车（载45吨、长15米、20米^3）<span class="text-purple2">2辆</span></h6>
                                  <h6 class="text-gray2">&nbsp;&nbsp;&nbsp;&nbsp; 小货车（载20吨、长8米、10米^3） &nbsp;<span class="text-purple2">3辆</span></h6>
                                </a>
                            </div>
                            <div class="pull-right gap-35">
                                <a href=""><h1 class="glyphicon glyphicon-earphone text-purple2"></h1></a>
                            </div>
                        </div> 
                    </div>
                    <div class="clearfix"></div>
                    <div class="row-bootstrap bg-gray2">
                        <a href="" class="list-item-border"></a>
                        <div class="col-xs-12">
                            <h6 class="text-black">广东 佛山 -> 上海 宝山</h6>
                        </div>
                        <div class="clearfix"></div>
                        <a href="" class="list-item-border"></a>
                    </div>
                    <div class="row-bootstrap bg-white">
                        <div class="col-xs-12 gap-2 list">                               
                            <div class="row-bootstrap pull-left">                               
                                <a class="item item-avatar item-no-border">
                                  <img class="" src="./img/pass/passface-2.png">
                                  <h3 class="text-brown1">张旭 <label class="label-role-red text-white">运输中</label></h3>
                                  <p>已运输货物 <span class="text-pink">80</span> 单</p>
                                  <h6 class="text-gray2"><span class="fa fa-truck text-black"></span>&nbsp;&nbsp;大货车（载45吨、长15米、20米^3）<span class="text-purple2">1辆</span></h6>
                                  <h6 class="text-gray2">&nbsp;&nbsp;&nbsp;&nbsp; 中型车（载45吨、长15米、20米^3）<span class="text-purple2">2辆</span></h6>
                                  <h6 class="text-gray2">&nbsp;&nbsp;&nbsp;&nbsp; 小货车（载20吨、长8米、10米^3） &nbsp;<span class="text-purple2">3辆</span></h6>
                                </a>
                            </div>
                            <div class="pull-right gap-35">
                                <a href=""><h1 class="glyphicon glyphicon-earphone text-purple2"></h1></a>
                            </div>
                        </div> 
                    </div>
                    <div class="row-bootstrap bg-gray2">                        
                        <div class="col-xs-12">
                            <a href="" class="list-item-border"></a>
                        </div>
                    </div>
                    <div class="row-bootstrap bg-white">
                        <div class="col-xs-12 gap-2 list">                               
                            <div class="row-bootstrap pull-left">                               
                                <a class="item item-avatar item-no-border">
                                  <img class="" src="./img/pass/passface.png">
                                  <h3 class="text-brown1">张旭 <label class="label-role-green text-white">空闲</label></h3>
                                  <p>已运输货物 <span class="text-pink">80</span> 单</p>
                                  <h6 class="text-gray2"><span class="fa fa-truck text-black"></span>&nbsp;&nbsp;大货车（载45吨、长15米、20米^3）<span class="text-purple2">1辆</span></h6>
                                  <h6 class="text-gray2">&nbsp;&nbsp;&nbsp;&nbsp; 中型车（载45吨、长15米、20米^3）<span class="text-purple2">2辆</span></h6>
                                  <h6 class="text-gray2">&nbsp;&nbsp;&nbsp;&nbsp; 小货车（载20吨、长8米、10米^3） &nbsp;<span class="text-purple2">3辆</span></h6>
                                </a>
                            </div>
                            <div class="pull-right gap-35">
                                <a href=""><h1 class="glyphicon glyphicon-earphone text-purple2"></h1></a>
                            </div>
                        </div> 
                    </div>
                    <div class="row-bootstrap bg-gray2">                        
                        <div class="col-xs-12">
                            <a href="" class="list-item-border"></a>
                        </div>
                    </div>
                    <div class="row-bootstrap bg-white">
                        <div class="col-xs-12 gap-2 list">                               
                            <div class="row-bootstrap pull-left">                               
                                <a class="item item-avatar item-no-border">
                                  <img class="" src="./img/pass/passface-1.png">
                                  <h3 class="text-brown1">崔哥 <label class="label-role-green text-white">空闲</label></h3>
                                  <p>已运输货物 <span class="text-pink">80</span> 单</p>
                                  <h6 class="text-gray2"><span class="fa fa-truck text-black"></span>&nbsp;&nbsp;大货车（载45吨、长15米、20米^3）<span class="text-purple2">1辆</span></h6>
                                  <h6 class="text-gray2">&nbsp;&nbsp;&nbsp;&nbsp; 中型车（载45吨、长15米、20米^3）<span class="text-purple2">2辆</span></h6>
                                  <h6 class="text-gray2">&nbsp;&nbsp;&nbsp;&nbsp; 小货车（载20吨、长8米、10米^3） &nbsp;<span class="text-purple2">3辆</span></h6>
                                </a>
                            </div>
                            <div class="pull-right gap-35">
                                <a href=""><h1 class="glyphicon glyphicon-earphone text-purple2"></h1></a>
                            </div>
                        </div> 
                    </div>
                     <div class="clearfix"></div>
                    <div class="row-bootstrap bg-gray2">
                        <a href="" class="list-item-border"></a>
                        <div class="col-xs-12">
                            <h6 class="text-black">山东 威海 ->  内蒙 呼和浩特 </h6>
                        </div>
                        <div class="clearfix"></div>
                        <a href="" class="list-item-border"></a>
                    </div>
                    <div class="row-bootstrap bg-white">
                        <div class="col-xs-12 gap-2 list">                               
                            <div class="row-bootstrap pull-left">                               
                                <a class="item item-avatar item-no-border">
                                  <img class="" src="./img/pass/passface-2.png">
                                  <h3 class="text-brown1">张旭 <label class="label-role-red text-white">运输中</label></h3>
                                  <p>已运输货物 <span class="text-pink">80</span> 单</p>
                                  <h6 class="text-gray2"><span class="fa fa-truck text-black"></span>&nbsp;&nbsp;大货车（载45吨、长15米、20米^3）<span class="text-purple2">1辆</span></h6>
                                  <h6 class="text-gray2">&nbsp;&nbsp;&nbsp;&nbsp; 中型车（载45吨、长15米、20米^3）<span class="text-purple2">2辆</span></h6>
                                  <h6 class="text-gray2">&nbsp;&nbsp;&nbsp;&nbsp; 小货车（载20吨、长8米、10米^3） &nbsp;<span class="text-purple2">3辆</span></h6>
                                </a>
                            </div>
                            <div class="pull-right gap-35">
                                <a href=""><h1 class="glyphicon glyphicon-earphone text-purple2"></h1></a>
                            </div>
                        </div> 
                        <div class="clearfix"></div>
                        <a href="" class="list-item-border"></a>    
                    </div>

                    
                    

                   





                </div>
            </div>

</div>
        <footer></footer>
        

       
    </div>
</ion-content>
</div>


