
<div>
    <navbar></navbar>
    <ion-content>

    <div class="transitions-content">
        

        <div class="container gap-45">
            <div class="row-bootstrap nav-pc-frameline">
                <div class="col-sm-3 col-md-3">
                    <navpc ng-init="trade='active'"></navpc>
                </div>


                <div class="col-xs-12 col-sm-9 col-md-9">
            <div class="row-bootstrap">
                
                <div class="gap-15 bg-white">
                    <a ui-sref='tab.rushDetail'>
                    <div class="col-xs-12 gap-10">
                        <div class="media" >
                            <div class="media-body">
                                <h3 class="media-heading"><label class="label-supply">供应</label>&nbsp;动力煤
                                    <span class="text-purple2">石炭7</span>
                                </h3>
                                 <a ui-sref='tab.companyProHome'>
                                    <h5 class="text-black">江阴利源煤炭有限公司
                                    &nbsp;&nbsp;<label class="label-v"><strong>v</strong></label>
                                    <label class="label-guarantee">信用</label>
                                  
                                </h5></a>
                            </div>                              
                        </div>
                    </div>
                </a>

                    <div class="clearfix"></div>

                    <div class="list-group">
                        <li class="list-group-item list-group-item-no-border list-condensed">
                            <h6 class="pull-left">
                                <img class="img-circle" src="./img/pro/face_1.png">
                                王光临 <label class="label-role-purple1 text-white">专属交易员</label></h6>
                            <h4 class="pull-right text-purple2 gap-5">
                                <a href="tel:18521300639" class="text-purple2"><span class="glyphicon glyphicon-earphone"></span></a>
                            </h4>
                            
                        </li>
                    </div>
                     <div class="clearfix"></div>
                    <div class="bg-green bg-green-border">
                         <div class="col-xs-12  col-sm-6 col-md-6"  ng-repeat="i in [1,]">

                            <div class="col-xs-6 text-green1">
                                <h5>粒度：</h5>
                                <h5>灰份 A：</h5>
                                <h5>挥发份 V：</h5>
                            </div>
                            <div class="col-xs-6">
                                <h5 class="text-left text-gray1">
                                    <h5>25 -- 90 (mm)</h5>
                                    <h5>≤ 14 (%)</h5>
                                    <h5>≤ 1.5 (%)</h5>
                                </h5>
                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6"  ng-repeat="i in [1,]">

                            <div class="col-xs-6 text-green1">                            
                                <h5>含水：</h5>
                                <h5>含粉：</h5>
                                <h5>硫 S：</h5>
                            </div>
                            <div class="col-xs-6">
                                <h5 class="text-left text-gray1">
                                    <h5>≤ 8 (%)</h5>
                                    <h5>≤ 8 (%)</h5>
                                    <h5>≤ 1 (%)</h5>
                                </h5>
                            </div>

                        </div>
                       <div class="clearfix"></div>

                    </div>
                   
                    
                        <div class="list-group">
                            <li class="list-group-item list-condensed list-group-item-no-border">
                                <h5 class="text-purple2"><span class="ion-ios-location-outline" aria-hidden="true"></span>
                                    &nbsp;&nbsp;提货地点：江苏省无锡市中信江阴码头<small class="text-gray1 pull-right ion-chevron-right"></small>
                                </h5>
                            </li>                           
                        </div>                       
                    
                </div>  
                     
                <h4 class="text-center">采购现货</h4> 
                <div class="bg-white">
                    <table class="table table-condensed text-center">
                        <tr>
                            <td><input tabindex="15" type="radio" id="flat-radio-1" value="trade" name="flat-radio">&nbsp;&nbsp;10月出厂价：</td>
                            <td class="text-gray1"><strong class="text-red">￥659</strong> 元/吨</td>
                            <td class="text-gray1">供应量：<strong class="text-black">2500</strong> 吨</td>
                        </tr>
                        <tr>
                            <td><input tabindex="15" type="radio" id="flat-radio-1" value="trade" name="flat-radio">&nbsp;&nbsp;11月出厂价：</td>
                            <td class="text-gray1"><strong class="text-red">￥600</strong> 元/吨</td>
                            <td class="text-gray1">供应量：<strong class="text-black">3500</strong> 吨</td>
                        </tr>
                        <tr>
                            <td><input tabindex="15" type="radio" id="flat-radio-1" value="trade" name="flat-radio">&nbsp;&nbsp;12月出厂价：</td>
                            <td class="text-gray1"><strong class="text-red">￥580</strong> 元/吨</td>
                            <td class="text-gray1">供应量：<strong class="text-black">2800</strong> 吨</td>
                        </tr>
                    </table>
                    <a href="" class="list-item-border"></a>
                    <div class="gap-10">
                        <div class="col-xs-4 gap-10">
                            <label class="label-plus"><span class="ion-android-remove"></span></label>
                        </div>
                        <div class="col-xs-4 text-center">
                            <h5 class="text-gray1">采购数量</h5>
                            <h4>200 吨</h4>
                        </div>
                        <div class="col-xs-4 text-right gap-10">
                            <label class="label-plus"><span class="ion-android-add"></span></label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <a href="" class="list-item-border gap-10"></a>
                    <div class="list-group col-sm-6 col-md-6" ng-repeat="i in [1,]">
                        <li class="list-group-item list-condensed list-group-item-no-border">
                            <h5 class="text-black">
                               货物金额：
                                <span class="pull-right text-red">￥ 32,000 元</span>
                            </h5>
                        </li>
                    </div>
                    <div class="list-group col-sm-6 col-md-6" ng-repeat="i in [1,]">
                        <li class="list-group-item list-condensed list-group-item-no-border">
                            <h5 class="text-black">
                               货物付款方式：
                                <span class="pull-right">30% 预付款，信用支付
                                    <span class="ion-chevron-right text-gray1"></span>
                                </span>
                            </h5>
                        </li>
                    </div>
                    <div class="clearfix"></div>
                </div>  
                <div class="text-center">
                   <div class="col-xs-6 border-right-line-gray"> 
                    <div class="gap-10"></div> 
                    <input tabindex="15" type="radio" id="flat-radio-1" value="trade"
                           name="flat-radio">
                    <span for="flat-radio-1" class="text-gray2">匹配物流</span>
                    <div class="gap-10"></div>
                   </div>
                   <div class="col-xs-6">
                    <div class="gap-10"></div> 
                    <input tabindex="15" type="radio" id="flat-radio-1" value="trade"
                           name="flat-radio">
                    <span for="flat-radio-1" class="text-gray2">不需要物流</span>
                    <div class="gap-10"></div>
                   </div>
                    
                </div> 
                <div class="clearfix"></div>
                <div class="list-group">
                    <li class="list-group-item list-condensed list-group-item-no-border">
                        <h5 class="text-purple2"><span class="ion-ios-location-outline" aria-hidden="true"></span>
                            &nbsp;&nbsp;默认交货地点：
                            <span class="pull-right">山西省晋中市晋中以南1号仓库
                            <small class="text-gray1 ion-chevron-right"></small></span>
                        </h5>
                    </li>                           
                </div> 
               
                <div class="bg-white">
                     <a href="" class="list-item-border"></a> 
                     <h5 class="col-xs-12">捷运物流 <label class="label-v"><strong>v</strong></label></h5></h5>  
                     <div class="clearfix"></div>
                    <div class="list-group col-sm-6 col-md-6" ng-repeat="i in [1,]">
                        <li class="list-group-item list-condensed list-group-item-no-border">
                            <h5 class="text-black">
                               物流单价：
                                <span class="pull-right"><strong class="text-red">￥59</strong> 元/吨</span>
                            </h5>
                        </li>
                        <li class="list-group-item list-condensed list-group-item-no-border">
                            <h5 class="text-black">
                              大货车(载45吨)：
                                <span class="pull-right text-purple2">预估 <strong>5</strong> 辆</span>
                            </h5>
                        </li>
                    </div>
                    <div class="list-group col-sm-6 col-md-6" ng-repeat="i in [1,]">
                        <li class="list-group-item list-condensed list-group-item-no-border">
                            <h5 class="text-black">
                               物流运费：
                                <span class="pull-right text-red"><strong>￥ 6,600</strong> 元</span>
                            </h5>
                        </li>
                        <li class="list-group-item list-condensed list-group-item-no-border">
                            <h5 class="text-black">
                              物流付款方式：
                                <span class="pull-right text-purple2">0% 预付款，现金支付 
                                    <span class="ion-chevron-right text-gray1"></span>
                                </span>
                            </h5>
                        </li>
                    </div>
                    <div class="clearfix"></div>
                    <a href="" class="list-item-border"></a> 
                    <h6 class="text-gray1 text-center">可选择其他合作物流公司 <span class="ion-chevron-right"></span></h6>
                    <div class="clearfix"></div>
                </div>
                <h5 class="text-center"><strong>付款方式<br />settle accounts</strong></h5>
                <div class="bg-white">
                    <div class="list-group col-sm-6 col-md-6" ng-repeat="i in [1,]">
                        <li class="list-group-item list-condensed list-group-item-no-border">
                            <h5 class="text-black">
                               总金额：
                                <span class="pull-right text-red"><strong>￥ 38,600 </strong> 元</span>
                            </h5>
                        </li>
                    </div>
                    <div class="list-group col-sm-6 col-md-6" ng-repeat="i in [1,]">
                        <li class="list-group-item list-condensed list-group-item-no-border">
                            <h5 class="text-black">
                               预付：
                                <span class="pull-right text-red"><small class="text-gray1">信用额</small> <strong>￥ 9600  </strong> 元</span>
                            </h5>
                        </li>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12">
                    <blockquote class="rules-pink text-red">
                        <h6>货物结算细则：<span class="pull-right text-gray1 ion-chevron-right"></span><small class="text-gray1">以采购方的结果为准</small></h6>
                        <h6>1、灰份以14%为基础每增0.1%，每吨降2元。</h6>
                        <h6>2、挥发份以1.5%为基准。</h6>
                        <h6>3、硫S以1%为基准；每增0.01%，每吨降2元。</h6>
                    </blockquote>
                </div>
                <div class="col-xs-12">
                    <blockquote class="rules-pink text-red">
                        <h6>物流结算细则：<span class="pull-right text-gray1 ion-chevron-right"></span></h6>
                        <h6>1、运输到目的地，+-0.5吨为正常耗损，不涉及违约。</h6>
                        <h6>2、如超过0.5吨，每减少1吨，扣500元。</h6>
                        <h6>3、延期运送到目的地，每延期1天扣100元。</h6>
                    </blockquote>
                </div>
                <div class="col-xs-12">
                    <blockquote class="rules-gray text-gray2">
                        <h6 class="pull-left">
                            违约责任
                            <br/>
                            纠纷解决方式
                        </h6>

                        <a href="" class="glyphicon glyphicon-menu-right pull-right gap-20 text-gray2"></a>

                        <div class="clearfix"></div>
                    </blockquote>
                </div>
                <div class="col-sm-3"></div>
                <a ui-sref='tab.tradeOrder'>
                <div class="col-sm-6 col-xs-12">
                    <button class="btn btn-block btn-yellow md-trigger md-setperspective" data-modal="modal-3">
                        撮合订单
                    </button>
                    <div class="gap-20"></div>
                </div>
                </a>
                <div class="col-sm-3"></div>
                <div class="clearfix"></div>
                </div>
            </div>
            
           
            
     </div>
        
    </div>
</div>
             <footer></footer>
   

</div>
</ion-content>
</div>


