<!-- 20160109 获取所有产品属性 -->
<div>
    <navbar
            ng-init="navbar.navLeftIco='ion-ios-arrow-back'; navbar.navLeft='返回'; navbar.title='发起现货' ;navbar.navRightHref='tab.';navbar.navRight='';navbar.navLeftHref='tab.rush';">
    </navbar>
    <ion-content>

    <div class="transitions-content">
        

        <div class="container gap-45">
            <div class="row-bootstrap nav-pc-frameline">
                <div class="col-sm-3 col-md-3">
                    <navpc ng-init="trade='active'"></navpc>
                </div>


                <div class="col-xs-12 col-sm-9 col-md-9">
                    <div class="row-bootstrap gap-25">
                       <div class=" bg-white">
                            <div class="list-group">
                                <li class="list-group-item list-group-item-border-top md-trigger " data-modal="modal-8" ng-click="showCategory()">
                                    <h5>请选择产品种类
                                        <a href="" class="pull-right"><span class="text-green1">{{demand.category.chn}}</span>
                                            <span class="glyphicon glyphicon-menu-right text-gray1"></span></a>
                                    </h5>
                                </li>
                            </div>
                       </div>
                        <div class="list-group">
                            <li class="list-group-item list-group-item-border-top bg-gray md-trigger " data-modal="modal-9">
                                <h6 class="text-gray1">请填写现货指标：
                                    <a href="" class="pull-right" ng-click="show_desc()"><span class="text-gray1">添加更多指标</span><span
                                            class="glyphicon glyphicon-menu-right text-gray1"></span></a>
                                </h6>
                            </li>
                        </div> 
                        <div class="bg-green bg-green-border">
                            
                                <div ng-if="$index < show_desc_num" class="col-xs-12 col-sm-6 col-md-6"  ng-repeat="(key,i) in demand._desc.desc">
                                    <div class="col-xs-6 text-brown">
                                        <h5 class="text-green1"> {{i[0]}}
                                        ({{i[1]}}) 
                                        </h5>
                                    </div>
                                    <div class="col-xs-6 publish text-left text-gray1 gap-5">
                                        <input type="number" class="desc form-publish-1" id="" value="{{demand._desc.defaults[key].value}}" name="{{key}}" min='0' required
                                        >
                                    </div>
                                </div>
                                <div ng-if="show_desc_num >5">
                                    <span ng-click="show_desc()" class="pull-right">收起</span>
                                </div>

                                <!-- <div class="col-xs-12 col-sm-6 col-md-6"  ng-repeat="i in [1,]">
                                    <div class="col-xs-6 text-green1">
                                        <h5>&nbsp;&nbsp;&nbsp;&nbsp;含水</h5>
                                        <h5>&nbsp;&nbsp;&nbsp;&nbsp;含粉</h5>
                                        <h5>&nbsp;&nbsp;&nbsp;&nbsp;硫 S</h5>
                                    </div>
                                    <div class="col-xs-6 publish text-left text-gray1 gap-5">
                                        <input type="number" class=" form-publish-1" id="" placeholder="输入数值">
                                        <input type="number" class="form-publish-1" id="" placeholder="输入数值">
                                        <input type="number" class="form-publish-1" id="" placeholder="输入数值">
                                    </div>
                                </div> -->
                                
                            <div class="clearfix"></div>
                        </div>
                        <div class="bg-white gap-row1">
                            <div class="list-group">
                                <li class="list-group-item list-condensed list-group-item-no-border">
                                    <h5 class="text-purple2">
                                        <span class="ion-ios-location-outline text-pink" aria-hidden="true"></span>
                                        &nbsp;&nbsp;提货地点：
                                        <span class="pull-right text-black"><!-- 输入仓库地点  -->
                                            <input type="text" class="text-gray1 input-text" id="" placeholder="输入仓库地点">
                                           <!--  <span class="ion-chevron-right text-gray1"></span> -->
                                        </span>
                                    </h5>
                                </li>
                            </div>                
                            <div class="clearfix"></div>
                        </div>
                        <h4 class="text-black text-center"><strong>10月份报价</strong></h4>
                        <div class="bg-white gap-row1">
                            <div class="list-group col-sm-6 col-md-6" ng-repeat="i in [1,]">
                                <li class="list-group-item list-condensed list-group-item-no-border">
                                    <h5 class="text-green1"><span class="ion-android-cloud text-black" aria-hidden="true"></span>
                                        &nbsp;&nbsp;供应量： 
                                        <span class="pull-right text-gray1"><!-- 输入数量 -->
                                            <input type="number" class="text-gray1 input-text" id="" placeholder="输入数量">
                                        </span>
                                    </h5>
                                </li>
                            </div>
                            <div class="list-group col-sm-6 col-md-6" ng-repeat="i in [1,]">
                                <li class="list-group-item list-condensed list-group-item-no-border">
                                    <h5 class="text-black"><span class="ion-social-yen" aria-hidden="true"></span>
                                        &nbsp;&nbsp;出厂价： 
                                        <span class="pull-right text-gray1"><!-- 输入价格 -->
                                            <input type="number" class="text-gray1 input-text" id="" placeholder="输入价格">
                                        </span>
                                    </h5>
                                </li>
                            </div>              
                            <div class="clearfix"></div>
                        </div>
                        <h4 class="text-black text-center"><strong>11月份报价</strong></h4>
                        <div class="bg-white gap-row1">
                            <div class="list-group col-sm-6 col-md-6" ng-repeat="i in [1,]">
                                <li class="list-group-item list-condensed list-group-item-no-border">
                                    <h5 class="text-green1"><span class="ion-android-cloud text-black" aria-hidden="true"></span>
                                        &nbsp;&nbsp;供应量： 
                                        <span class="pull-right text-gray1"><!-- 输入数量 -->
                                            <input type="number" class="text-gray1 input-text" id="" placeholder="输入数量">
                                        </span>
                                    </h5>
                                </li>
                            </div>
                            <div class="list-group col-sm-6 col-md-6" ng-repeat="i in [1,]">
                                <li class="list-group-item list-condensed list-group-item-no-border">
                                    <h5 class="text-black"><span class="ion-social-yen" aria-hidden="true"></span>
                                        &nbsp;&nbsp;出厂价： 
                                        <span class="pull-right text-gray1"><!-- 输入价格 -->
                                            <input type="number" class="text-gray1 input-text" id="" placeholder="输入价格">
                                        </span>
                                    </h5>
                                </li>
                            </div>              
                            <div class="clearfix"></div>
                        </div>
                        <h5 class="text-black text-center">+ 添加下个月的计划价格</h5>
               
                        <div class="bg-white gap-row1">
                            <div class="list-group col-sm-6 col-md-6" ng-repeat="i in [1,]">
                                <li class="list-group-item list-condensed list-group-item-no-border">
                                    <h5 class="text-yellow2">
                                       付款方式：
                                        <span class="pull-right text-black">30% 预付款
                                            <span class="ion-ios-arrow-forward text-gray1"></span>
                                        </span>
                                    </h5>
                                </li>
                            </div>
                            <div class="list-group col-sm-6 col-md-6" ng-repeat="i in [1,]">
                                <li class="list-group-item list-condensed list-group-item-no-border">
                                    <h5 class="text-black">
                                        质检结果：
                                        <span class="pull-right">以采购方的质检结果为准
                                            <span class="ion-ios-arrow-forward text-gray1"></span>
                                        </span>
                                    </h5>
                                </li>
                            </div>
                            <div class="col-xs-12 gap-10">
                                <blockquote class="rules-pink text-red" ng-click='modifAttproduct()'>
                                    <h6>产品结算细则：</h6>
                                    <h6>1、灰份以14%为基础每增0.1%，每吨降2元。</h6>
                                    <h6>2、挥发份以1.5%为基准。</h6>
                                    <h6>3、硫S以1%为基准；每增0.01%，每吨降2元。</h6>
                                </blockquote>
                            </div>                           
                            <div class="col-xs-12">
                                <blockquote class="rules-gray text-gray2">
                                    <h6 class="pull-left">
                                        违约责任，纠纷解决方式
                                        <br/>
                                        谅解协议
                                    </h6>

                                    <a href="" class="glyphicon glyphicon-menu-right pull-right gap-20 text-gray2"></a>

                                    <div class="clearfix"></div>
                                </blockquote>
                            </div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6 col-xs-12">
                                <button class="btn btn-block btn-yellow md-trigger md-setperspective" data-modal="modal-3">
                                    发布现货
                                </button>
                                <div class="gap-20"></div>
                            </div>
                            <div class="col-sm-3"></div>
                            <div class="clearfix"></div>
                        </div>

                

            </div>
                    
                    
                  

            

       </div>

       
    </div>  
    </div> 
        <footer></footer>
     
   
    
</div>


</ion-content>
</div>
<!-- 产品结算细则弹窗 -->
<script id="supplyPublish/attproduct.html" type="text/ng-template">
    <blockquote class="rules-pink text-red">
        <h6>产品结算细则：</h6>
        <h6 ng-repeat='i in demand.desc' class='attproduct'>
        {{$index+1}},
            {{demand._desc.desc[i[0]][0]}}以{{i[1]}}{{demand._desc.desc[i[0]][1]}}为基准，每增加
            [<input style="display:inline;width:50px;" type="number" name='step'  maxlength="3" min='0' required placeholder="数字">]{{demand._desc.desc[i[0]][1]}},每吨降
            [<input style="display:inline;width:50px;" type="number" name='cost'  maxlength="3" min='0' required placeholder="数字">]元。允许误差值
            [<input style="display:inline;width:50px;" type="number" name='limit' maxlength="3" min='0' required placeholder="数字">]
        </h6>
         
    </blockquote>
</script>