<div>
    <navbar
            ng-init="navbar.navLeftIco='ion-ios-arrow-back'; navbar.navLeft='返回'; navbar.title='相关协议' ;navbar.navRightHref='tab.';navbar.navRight=''">
    </navbar>
    <ion-content>

    <div class="transitions-content">
        <div class="container gap-45">
            <div class="row-bootstrap nav-pc-frameline">
                <div class="col-sm-3 col-md-3">
                    <navpc ng-init="trade='active'"></navpc>
                </div>


            <div class="col-xs-12 col-sm-9 col-md-9">
            <div class="row-bootstrap">
                <div class="bg-white gap-row">
                <div class="gap-row1 rules-gray1">
                    <div class="btn-group " role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <a href="">
                                <button type="button" class="btn-link text-gray2">违约责任</button>
                            </a>
                        </div>
                        <div class="btn-group" role="group">
                            <a href="">
                                <button type="button" class="btn-link text-gray2">纠纷解决方式</button>
                            </a>
                        </div>
                        <div class="btn-group" role="group">
                            <a href="">
                                <button type="button" class="btn-link text-gray2">货物保险</button>
                            </a>
                        </div>
                        <div class="btn-group" role="group">
                            <a href="">
                                <button type="button" class="btn-link text-gray2">取消订单</button>
                            </a>
                        </div>
                        <div class="btn-group" role="group">
                            <a href="">
                                <button type="button" class="btn-link text-gray2">其他事宜</button>
                            </a>
                        </div>
                    </div>
                </div>
                
                    <div class="list-group gap-20">
                        <li class="list-group-item list-group-item-no-border list-condensed text-gray2">
                            <h3>免责条款</h3>
                            <p class="gap-15">
                                1、会员应妥善保管账号信息，日升昌不对会员账号的遗失承担责任。如因会员账号遗失或被盗用，导致会员账户余额减少的，日升昌商城将积极予以配合，但不承担任何法律责任。</p>
                            <p class="gap-15">
                                2、如会员账号遗失或被盗用，会员应立即通知日升昌商城交易员或致电客服热线，日升昌商城将暂停该账号的交易资格；如因会员怠于通知而发生交易，日升昌商城有权将该笔交易视作真实发生，并要求会员承担相应的交易责任。
                            </p>
                            <p class="gap-15">
                                3、任何单位如终止授权某一账号通过日升昌商城进行交易，应立即通知日升昌商城交易员或致电客服热线，日升昌商城将暂停该账号的交易资格。如因单位怠于通知而发生交易的，日升昌有权要求该会员连带其所代表公司承担交易责任，履行交易义务。
                            </p>
                            <p class="gap-15">
                                4、任何用户因使用日升昌商城而可能遭致的意外及其造成的损失（包括因下载本网站可能链接到的第三方网站内容而感染电脑病毒），日升昌商城对此概不负责，亦不承担任何法律责任。</p>

                            <h3 class="gap-15">违约责任</h3>

                        </li>
                    </div>
                    <div class="col-sm-3 minHeight"></div>
                    <div class="col-sm-6 col-xs-12 gap-15">
                        <button type="button" class="btn btn-block btn-yellow" onclick="window.history.go(-1)">同意全部协议</button>
                    </div> 
                    <div class="col-sm-3"></div>
                    <div class="clearfix"></div>
                </div>
               
            </div>
            
           

            
             

            

   </div>
        
    </div>
    </div>
 <footer></footer>
     


</div>
</ion-content>
</div>


