<div ng-controller="RegCtrl">
    <navbar ng-init="navbar.navLeftIco='glyphicon glyphicon-chevron-left';navbar.navLeft='返回'; navbar.navLeftHref='tab.login' ;navbar.title='注册类型' ;navbar.navRightHref='tab.';navbar.navRight=''">
        >
    </navbar>
    <ion-content>
        <div class="transitions-content">
            <div class="bg-yellow4">
                <div class="bg-earth">
                    <div class="container">
                        <div class="row-bootstrap">

                            <div class="col-sm-3 col-md-3 well-left-con mobi-hide">
                                <h4>1、选择注册类型</h4>
                                <h4>2、基本信息</h4>
                                <h4>3、验证手机号</h4>
                                <h4>4、完善信息</h4>
                                <h4>5、注册成功</h4>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-6">

                                <div class="row-bootstrap gap-50">
                                    <div class="gap-50">
                                        <img src="img/general/logo-HT.png" class="img-responsive center-block img-logo-HTTX"/>
                                    </div>
                                    <div class="gap-50">
                                        <img class="img-responsive center-block logo-rsc" src="./img/general/logo-rsc.png">
                                    </div>
                                    <!-- <div class="gap-50 well-infor-con-btn">
                                        <button type="button" class="btn btn-default btn-yellow center-block">
                                            <a id="commpany" data-group="Commpany" href="#/tab/regBase"
                                               data-transition-out="slideLeftOut" data-transition-in="slideLeftIn"
                                               class="red-deep a-hover-red">企业注册</a>
                                        </button>
                                    </div>
                                    <div class="gap-20 well-infor-con-btn">
                                        <button type="button" class="btn btn-default btn-yellow center-block">
                                            <a id="commpany" data-group="Commpany" href="#/tab/regBase" class="red-deep a-hover-red">邀请注册</a>
                                        </button>
                                    </div> -->
                                    <div class="gap-30">
                                        <div class="col-sm-6 col-xs-12 gap-20">
                                            <button type="button" class="btn btn-lg btn-block bg-yellow2 text-yellow3"
                                                    ng-click="goRegister()">
                                                <a id="commpany" data-group="Commpany" class="red-deep a-hover-red">企业注册</a>
                                            </button>
                                        </div>
                                        <div class="col-sm-6 col-xs-12 gap-20">
                                            <button type="button" class="btn btn-lg btn-block bg-yellow2 text-yellow3"
                                                    ng-click="goInviteRegister()">
                                                <a id="commpany" data-group="Commpany" class="red-deep a-hover-red">员工及车辆注册</a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="gap-100"></div>
                    </div>
                </div>

                <footer></footer>
            </div>
        </div>
    </ion-content>
</div>


