<div>
    <navbar
            ng-init="navbar.navLeftIco='ion-ios-arrow-back'; navbar.navLeft='返回'; navbar.title='物流计划' ;navbar.navRightHref='';navbar.navRight=''; navbar.navRightIco=''; ">
    </navbar>
    <ion-content>

        <div class="transitions-content">

            <div class="container gap-45">
                <div class="row-bootstrap nav-pc-frameline">
                    <div class="col-sm-3 col-md-3">
                        <navpc ng-init="ispass='active'"></navpc>
                    </div>


                    <div class="col-xs-12 col-sm-6 col-md-6">  
                       <!--  <div class="row-bootstrap bg-white gap-10">
                            <div class="btn-group btn-group-justified" role="group">
                                <div class="btn-group" role="group">
                                    <a>
                                        <button type="button" class="btn btn-navbar3 btn-navbar3-active">最新</button>
                                    </a>
                                </div>
                                <div class="btn-group" role="group">
                                    <a>
                                        <button type="button" class="btn btn-navbar3" >需求量</button>
                                    </a>
                                </div>
                                <div class="btn-group" role="group">
                                    
                                </div>
                                <div class="btn-group" role="group">
                                    
                                </div>
                                <div class="btn-group" role="group">
                                    
                                </div>
                                
                            </div>
                        </div>     -->                 
                        <div class="row-bootstrap bg-white gap-10 timeline clearfix">
                            <div class="timeline-gary"></div>
                            <div class="col-xs-4 timeline-left gap-20 clear">
                                <h6 class="text-right text-gray2">2015年5月24日</h6>
                                <!-- <h6 class="text-right text-gray2">11点24分</h6> -->

                                <img class="img-responsive dot-gary" src="./img/ebank/dot_gray1.png">
                            </div>
                            <div class="col-xs-8  timeline-right3 text-white gap-20 clear">
                                <h5>炼焦煤<span class="pull-right">200吨</span></h5>
                                <h6>收货人：王光林</h6>
                                <!-- <h6>发货日期：2015年4月21日</h6> -->
                                <h6>交货地址：泉安仓库</h6>
                            </div> 
                            <div class="timeline-gary"></div>
                            <div class="col-xs-4 timeline-left gap-20 clear">
                                <h6 class="text-right text-gray2">2015年5月24日</h6>
                                <!-- <h6 class="text-right text-gray2">11点24分</h6> -->

                                <img class="img-responsive dot-gary" src="./img/ebank/dot_gray1.png">
                            </div>
                            <div class="col-xs-8  timeline-right3 text-white gap-20 clear">
                                <h5>炼焦煤<span class="pull-right">200吨</span></h5>
                                <h6>收货人：王光林</h6>
                                <!-- <h6>发货日期：2015年4月21日</h6> -->
                                <h6>交货地址：泉安仓库</h6>
                            </div> 
                            <div class="timeline-gary"></div>
                            <div class="col-xs-4 timeline-left gap-20 clear">
                                <h6 class="text-right text-gray2">2015年5月24日</h6>
                                <!-- <h6 class="text-right text-gray2">11点24分</h6> -->

                                <img class="img-responsive dot-gary" src="./img/ebank/dot_gray1.png">
                            </div>
                            <div class="col-xs-8  timeline-right3 text-white gap-20 clear">
                                <h5>炼焦煤<span class="pull-right">200吨</span></h5>
                                <h6>收货人：王光林</h6>
                                <!-- <h6>发货日期：2015年4月21日</h6> -->
                                <h6>交货地址：泉安仓库</h6>
                            </div>  
                        </div>
                        
                        

                    </div>
                </div>

    </div>

    <footer></footer>
            

        </div>
    </ion-content>
</div>


