<div>
    <navbar
            ng-init="navbar.navLeftIco='ion-ios-arrow-back'; navbar.navLeft='返回'; navbar.title='车队列表' ;navbar.navRightHref='';navbar.navRight=''; navbar.navRightIco='ion-compose'; ">
    </navbar>
    <ion-content>

        <div class="transitions-content">

            <div class="container gap-45">
                <div class="row-bootstrap nav-pc-frameline">
                    <div class="col-sm-3 col-md-3">
                        <navpc ng-init="ispass='active'"></navpc>
                    </div>


                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row-bootstrap bg-white">                            
                            <div class="col-xs-10">
                                <h4 class="input-search">
                                    <i class="icon ion-search placeholder-icon pull-left"></i>
                                    <input type="text" placeholder="搜索">
                                </h4>
                            </div>
                            <button class="button button-clear col-xs-2 text-right">取消</button>
                        </div>
                        
                        <div class="row-bootstrap bg-white">                                                                                  
                            <div class="list">
                                <a class="item item-avatar item-condensed">
                                  <img class="img-circle" src="/img/general/face/5.jpg">
                                  <h2 class="text-brown">顺丰物流 <label class="label-v"><strong title="已认证企业">v</strong></label></h2>
                                </a>

                                <a class="item item-avatar item-no-border item-condensed">
                                  <img class="img-circle" src="/img/general/face/6.jpg">
                                  <h2 class="text-brown">速通物流 <label class="label-v"><strong title="已认证企业">v</strong></label></h2>
                                </a>

                                <a class="item item-avatar item-no-border item-condensed">
                                  <img class="img-circle" src="/img/general/face/7.jpg">
                                  <h2 class="text-brown">圆通物流 <label class="label-v"><strong title="已认证企业">v</strong></label></h2>
                                </a>
                            </div>

                            <div class="col-sm-3 minHeight"></div>
                            <div class="col-sm-6 col-xs-12 gap-100">
                                <button class="btn btn-block btn-yellow md-trigger md-setperspective" data-modal="modal-3">
                                    创建新车队
                                </button>
                                <div class="gap-50"></div>
                            </div>
                            <div class="col-sm-3"></div>

                        </div>

                    </div>
                </div>

    </div>

    <footer></footer>
            

        </div>
    </ion-content>
</div>


