<div>
    <navbar
            ng-init="navbar.navLeftIco='ion-ios-arrow-back'; navbar.navLeft='返回'; navbar.title='司机管理' ;navbar.navRightHref='';navbar.navRight='邀请新司机'">
    </navbar>
    <ion-content>

        <div class="transitions-content">

            <div class="container gap-45">
                <div class="row-bootstrap nav-pc-frameline">
                    <div class="col-sm-3 col-md-3">
                        <navpc ng-init="ispass='active'"></navpc>
                    </div>


                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row-bootstrap bg-white">
                            <div class="col-xs-10">
                                <h4 class="input-search">
                                    <i class="icon ion-search placeholder-icon pull-left"></i>
                                    <input type="text" placeholder="搜索">
                                </h4>
                            </div>
                            <button class="button button-clear col-xs-2 text-right">取消</button>
                        </div>

                        <div class="row-bootstrap bg-white">
                            <div class="col-xs-12 gap-10">
                                <div class="btn-group btn-group-justified bg-driver" role="group">
                                    <div class="btn-group" role="group">
                                        <a>
                                            <button type="button" class="btn btn-navbar2-1 active">自有司机</button>
                                        </a>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <a>
                                            <button type="button" class="btn btn-navbar2-1">挂靠司机</button>
                                        </a>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <a>
                                            <button type="button" class="btn btn-navbar2-1">未审核</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="pull-left gap-2 list gap-15">
                                <li class="item item-avatar item-no-border">
                                    <img class="img-circle" src="/img/general/face/3.jpg">
                                    <h3 class="text-brown1">张旭 <label class="label-role-green text-white">空闲</label></h3>
                                    <p>已运输货物 <span class="text-yellow2">80</span> 单</p>
                                    <h6 class="text-gray2">
                                        <div>
                                            <span class="fa fa-truck text-black"></span>
                                            &nbsp;高栏车、长15米、载45吨
                                            <span class="text-purple2"> 1 辆</span>
                                        </div>
                                    </h6>
                                    <h6 class="text-gray2">
                                        <div>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;低栏车、长15米、载45吨
                                            <span class="text-purple2"> 2 辆</span>
                                        </div>
                                    </h6>
                                    <h6 class="text-gray2">
                                        <div>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;半栏车、长15米、载45吨
                                            <span class="text-purple2"> 2 辆</span>
                                        </div>
                                    </h6>
                                </li>
                            </div>
                            <div class="pull-right gap-20 col-xs-3 text-right">
                                <button class="btn-dirver btn-dirver-gray">认证中</button>
                            </div>
                            <div class="clearfix"></div>
                            <a class="list-item-border"></a>

                            <div class="pull-left gap-2 list">
                                <li class="item item-avatar item-no-border">
                                    <img class="img-circle pc-fixed" src="/img/general/face/2.jpg">
                                    <span class="check-fixed"><span class="ion-checkmark-round"></span></span>
                                    <h3 class="text-brown1">张旭 <label class="label-role-red text-white">运输中</label></h3>
                                    <p>已运输货物 <span class="text-yellow2">80</span> 单</p>
                                    <h6 class="text-gray2">
                                        <div>
                                            <span class="fa fa-truck text-black"></span>
                                            &nbsp;高栏车、长15米、载45吨
                                            <span class="text-purple2"> 1 辆</span>
                                        </div>
                                    </h6>
                                    <h6 class="text-gray2">
                                        <div>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;低栏车、长15米、载45吨
                                            <span class="text-purple2"> 2 辆</span>
                                        </div>
                                    </h6>
                                    <h6 class="text-gray2">
                                        <div>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;半栏车、长15米、载45吨
                                            <span class="text-purple2"> 2 辆</span>
                                        </div>
                                    </h6>
                                </li>
                            </div>
                            <div class="pull-right gap-20 col-xs-3 text-right">
                                <button class="btn-dirver btn-dirver-yellow">解除关系</button>
                            </div>
                            <div class="clearfix"></div>
                            <a class="list-item-border"></a>

                            <div class="pull-left gap-2 list">
                                <li class="item item-avatar item-no-border">
                                    <img class="img-circle" src="/img/general/face/1.jpg">
                                    <h3 class="text-brown1">张旭 <label class="label-role-green text-white">空闲</label></h3>
                                    <p>已运输货物 <span class="text-yellow2">80</span> 单</p>
                                    <h6 class="text-gray2">
                                        <div>
                                            <span class="fa fa-truck text-black"></span>
                                            &nbsp;高栏车、长15米、载45吨
                                            <span class="text-purple2"> 1 辆</span>
                                        </div>
                                    </h6>
                                    <h6 class="text-gray2">
                                        <div>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;低栏车、长15米、载45吨
                                            <span class="text-purple2"> 2 辆</span>
                                        </div>
                                    </h6>
                                    <h6 class="text-gray2">
                                        <div>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;半栏车、长15米、载45吨
                                            <span class="text-purple2"> 2 辆</span>
                                        </div>
                                    </h6>
                                </li>
                            </div>
                            <div class="pull-right gap-20 col-xs-3 text-right">
                                <button class="btn-dirver btn-dirver-purple">审核通过</button>
                            </div>
                            <div class="clearfix"></div>
                            <a class="list-item-border"></a>
                        </div>

                    </div>
                </div>

            </div>

            <footer></footer>


        </div>
    </ion-content>
</div>


