

    <div ui-view="center-content">

    </div>
    <!-- 
    <ion-nav-view name="center-content">
    </ion-nav-view>
    //使用ion-nav-view 存在左右移动的动画
    -->

<!-- <div class="bar bar-footer">
    <div class="tabs tabs-icon-top">
        <a class="tab-item" href="#" ui-sref=".register">
        <i class="icon ion-home"></i>
            日升昌
        </a>
        <a class="tab-item" href="#" ui-sref='.158'>
        <i class="icon ion-star"></i>
            交易
        </a>
         <a class="tab-item" href="#" ui-sref='.pass'>
        <i class="icon ion-gear-a"></i>
            物流
        </a>
        <a class="tab-item" href="#" ui-sref='.ebank'>
        <i class="icon ion-gear-a"></i>
            订单
        </a>
        <a class="tab-item" href="#" ui-sref='.me'>
        <i class="icon ion-gear-a"></i>
            我
        </a>
    </div>
</div>   -->

 <!-- <div class="row-bootstrap navbar-fixed-bottom pc-hide">

    <div class="col-xs-12">
        <div class="btn-group btn-group-navApp btn-group-justified" role="group" aria-label="...">
            <div class="btn-group btn-group-navApp" role="group">
                <a type="button" id="welcome" class="btn btn-navApp" ui-sref=".register">

                    <h5>日升昌</h5>
                </a>
            </div>
            <div class="btn-group btn-group-navApp" role="group">
                <a type="button" id="trade" class="btn btn-navApp " ui-sref='.158'>

                    <h5>交易</h5>
                </a>
            </div>

            <div class="btn-group btn-group-navApp" role="group">
                <a type="button" id="pass" class="btn btn-navApp " ui-sref=".pass">

                    <h5>物流</h5>
                </a>
            </div>

            <div class="btn-group btn-group-navApp" role="group">
                <a type="button" class="btn btn-navApp" ui-sref=".ebank">

                    <h5 class="">订单</h5>
                </a>
            </div>

            <div class="btn-group btn-group-navApp " role="group">
                <a type="button" class="btn btn-navApp" ui-sref="tab.me">

                    <h5>我</h5>
                </a>
            </div>

        </div>
    </div>
</div> -->
<navapp ng-if="_isHideFloor"></navapp>

