<div name="footer" class="gap-100">
    <div class="row-bootstrap mobi-hide bg-white">
        <div class="container">
            <div class="footer gap-row">
                <div class="col-xs-2 gap-20">
                    <h6><strong>158 交易计划</strong></h6>

                    <div class="text-gray2">
                        <h6>找现货</h6>
                        <h6>发布现货</h6>
                        <h6>抢单</h6>
                        <h6>担保交易</h6>
                        <h6>信诺通认证</h6>
                    </div>
                </div>

                <div class="col-xs-2 gap-20">
                    <h6><strong>PRO 生产计划</strong></h6>

                    <div class="text-gray2">
                        <h6>工厂管理</h6>
                        <h6>计划生产</h6>
                        <h6>进度管理</h6>
                        <h6>仓库管理</h6>
                        <h6>深度验厂</h6>
                    </div>
                </div>

                <div class="col-xs-2 gap-20">
                    <h6><strong>PASS 物流计划</strong></h6>

                    <div class="text-gray2">
                        <h6>发布专线</h6>
                        <h6>添加车辆</h6>
                        <h6>物流抢单</h6>
                        <h6>实时物流</h6>
                        <h6>高级查找车辆</h6>
                        <h6>物流公司认证</h6>
                        <h6>司机个人加入</h6>
                    </div>
                </div>

                <div class="col-xs-2 gap-20">
                    <h6><strong>eBank 金融计划</strong></h6>

                    <div class="text-gray2">
                        <h6>账户管理</h6>
                        <h6>应收账款</h6>
                        <h6>支付工具</h6>
                        <h6>承兑汇票</h6>
                        <h6>信用流通</h6>
                    </div>
                </div>

                <div class="col-xs-2 gap-20">
                    <h6><strong>关于 日升昌记</strong></h6>

                    <div class="text-gray2">
                        <h6>理念与价值观</h6>
                        <h6>我们的产品</h6>
                        <h6>工作机会</h6>
                        <h6>联系日升昌记</h6>
                    </div>
                </div>

                <div class="col-xs-2 text-center">
                    <img src="./img/common/footer-logo.png">
                    <h6 style="margin-left:32px;"><strong>www.RSC365.com</strong></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row-bootstrap mobi-hide bg-yellow">
        <div class="container text-center text-brown1">
            <h6>北京日升昌记科技有限公司 (版本:V{{version}})</h6>
            <h6>Copyright©2015 158.TM&nbsp;&nbsp;&nbsp;&nbsp;增值电信业务经营许可证：京ICP备16008349号 </h6>
        </div>
    </div>
</div>