<div name="navbar2Detail">
     <div class="bg-pink1 navbar4-fixed">
        <div class=" btn-group btn-group-justified text-center" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <h6 class="text-red1">下订单</h6>
                <a href="">
                   <button type="button" class="btn-navbar4 btn-navbar4-active"><span>1</span></button>
                </a>
            </div>

            <div class="btn-group" role="group">
                <h6 class="text-red1">预付款</h6>
                <a href="">
                   <button type="button" class=" btn-navbar4"><span>2</span></button>
                </a>
            </div>

            <div class="btn-group" role="group">
                <h6 class="text-red1">物流</h6>
                 <a href="">
                   <button type="button" class=" btn-navbar4"><span>3</span></button>
                </a>
            </div>

            <div class="btn-group" role="group">
                <h6 class="text-red">检验</h6>
                 <a href="">
                   <button type="button" class=" btn-navbar4"><span>4</span></button>
                </a>
            </div>

            <div class="btn-group" role="group">
                <h6 class="text-red1">交割</h6>
                 <a href="">
                   <button type="button" class=" btn-navbar4"><span>5</span></button>
                </a>
            </div>                    
        </div>
        <span class="btn-navbar4-right-line"></span>  
    </div>
</div>

