<div name="navPc">
    <div class="gap-30 mobi-hide">

        <ul class="nav nav-pills-pc nav-pills-pc1 nav-stacked">
            
            <li role="presentation" style="margin-left:3px;" ng-repeat="i in roles" ng-class={{i.active}}>
                <a ng-href="#/tab/{{i.href}}"><h4> {{i.title}}</h4></a>
            </li>
            <!-- <li role="presentation" style="margin-left:3px;" ng-class={{isme}}>
                <a href="#/tab/myRsc"><h4>我</h4></a>
            </li> -->

            <li role="presentation">
                <h4>&nbsp;</h4>
            </li>
            <li role="presentation">
                <h4>&nbsp;</h4>
            </li>

        </ul>


        <!-- <div style="margin-left: 20px;">

            <div class="media text-red gap-5">
                <h5 class="gap-10"> 我的关联企业</h5>
            </div>

            <div class="media gap-5">
                <div class="media-left">
                    <img class="media-object img-circle face5" src="./img/general/logo/1.jpg" alt="...">
                </div>
                <div class="media-body">
                    <h6><span class=""></span> 山西东星集团</h6>
                </div>
            </div>
            <div class="media gap-5">
                <div class="media-left">
                    <img class="media-object img-circle face5" src="./img/general/logo/2.jpg" alt="...">
                </div>
                <div class="media-body">
                    <h6><span class=""></span> F能集团</h6>
                </div>
            </div>
            <div class="media gap-5">
                <div class="media-left">
                    <img class="media-object img-circle face5" src="./img/general/logo/3.jpg" alt="...">
                </div>
                <div class="media-body">
                    <h6><span class=""></span> STARK GROUP</h6>
                </div>
            </div>
            <div class="media gap-5">
                <div class="media-left">
                    <img class="media-object img-circle face5" src="./img/general/logo/4.jpg" alt="...">
                </div>
                <div class="media-body">
                    <h6><span class=""></span> 合众洗煤厂</h6>
                </div>
            </div>
            <div class="media gap-5">
                <div class="media-left">
                    <img class="media-object img-circle face5" src="./img/general/logo/5.jpg" alt="...">
                </div>
                <div class="media-body">
                    <h6><span class=""></span> 红星钢厂</h6>
                </div>
            </div>
            <div class="media gap-5">
                <div class="media-left">
                    <img class="media-object img-circle face5" src="./img/general/logo/6.jpg" alt="...">
                </div>
                <div class="media-body">
                    <h6><span class=""></span> STARK GROUP</h6>
                </div>
            </div>
            <div class="media gap-5">
                <div class="media-left">
                    <img class="media-object img-circle face5" src="./img/general/logo/7.jpg" alt="...">
                </div>
                <div class="media-body">
                    <h6><span class=""></span> 合众洗煤厂</h6>
                </div>
            </div>
            <div class="media gap-5">
                <div class="media-left">
                    <img class="media-object img-circle face5" src="./img/general/logo/8.jpg" alt="...">
                </div>
                <div class="media-body">
                    <h6><span class=""></span> 红星钢厂</h6>
                </div>
            </div>

        </div> -->
    </div>
</div>



